{
  "env": {
      "browser": true,
      "commonjs": true,
      "es2022": true,
      "node": true,
      "jasmine": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2022
  },
  "ignorePatterns": [
  "test/**/*.js",
      "src/logger.js",
  "scripts/**"
]
}
